
	*{
		font-family: "微软雅黑";
	}
	.content{
		height: 580px;

	}
	.con1{
		height: 580px;
	}

	.img1{
		position: absolute;
		top: 180px;
		left: 80px;
	}
	.ul1,.ul2{
		width: 80%;
		height: 280px;
		float: left;
		margin-left: 140px;
		/*border: 1px solid yellow;*/
	}
	.ul1 li,.ul2 li{
		float: left;
		width: 182px;
		height: 250px;
		border: 1px solid #ccc;
		margin: 20px 20px 0px 10px;
	}
	.clearfix{
		clear: both;
	}
	.ul1 li img{
		margin: 5px 0px 0px 15px;
	}
	.ul2 li img{
		margin: 5px 0px 0px 15px;
	}
	.p2{
		font-size: 13px;
		margin-left: 7px;
		margin-top: 30px;
	}
	
	span{
		color: red;
		font-size: 13px;
		margin-left: 5px;
	}
	.yuan{
		font-size: 13px;
		margin-left: 50px;
	}
	.fanye ul{
		text-align: center;
		/*margin-bottom: 10px;*/
		margin-top: 120px;
		/*margin-top: 150px;*/
	}
	.fanye ul li{
		display: inline-block;
		margin-left: 5px;
		cursor: pointer;
	}
	.active1{
		color: orange;
		cursor: pointer;
	}
